target
Thumbs.db
.classpath
.project
.tomcatplugin
.svn
.settings
.git
vim.exe.stackdump
bin
build
.metadata
.recommenders
.iml
.ipr
.iws
.idea
node_modules
node_module
.md
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/